<!DOCTYPE html>

{% load staticfiles %}

<html>
	<head>
		<title>Pool.js - Browser Computing Unleashed</title>

		<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie-edge">

		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
		<link rel="stylesheet" href="{% static 'css/style.css' %}"/>
		{% block head %} {% endblock %}
	</head>
	<body>
		<img src="{% static 'img/logo.svg' %}" alt="Pool.js"/>
		<h1>Pool.js</h1>
		<a href="{% url 'main_index' %}">Index</a> - <a href="https://github.com/keyvank/pooljs#pooljs">Docs</a> - <a href="{% url 'main_sandbox' %}">Sandbox</a> - <a href="{% url 'main_featured' %}">Featured Projects!</a>
		<p>Distribute your JavaScript code to thousands of processors!</p>
		<p>Processors available: <span id="num-workers">0</span></p>
		{% block body %} {% endblock %}
		<div>Copyright (C) 2017 - Keyvan M. Kambakhsh</div>

		<script src="{% static 'js/processor.js' %}"></script>
		<script src="{% static 'js/pool.js' %}"></script>
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
		<script>
			$(document).ready(function(){
				var numWorkers = 0;
				function info(){
					pool.oninfo = function(workersCount){
						numWorkers = workersCount;
						$("#num-workers").text(numWorkers);
					}
					pool.info();
					setTimeout(info,5000);
				}
				pool.onopen = function(){info();}
			});
		</script>
		{% block scripts %} {% endblock %}
		<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha256-gL1ibrbVcRIHKlCO5OXOPC/lZz/gpdApgQAzskqqXp8=" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
	</body>
</html>
