<!DOCTYPE html>

{% load staticfiles %}

<html>
	<head>
		<title>Pool.js - Browser Computing Unleashed</title>

		<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie-edge">

		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.2/codemirror.min.css" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.2/theme/base16-dark.min.css" />
		<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
		<link rel="stylesheet" href="{% static 'css/style.css' %}"/>

		{% block head %} {% endblock %}
	</head>
	<body>
		<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top" style="background-color:#151515;">
		  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>
		  <a class="navbar-brand" href="{% url 'main_index' %}">Pool.js</a>

		  <div class="collapse navbar-collapse" id="navbarSupportedContent">
		    <ul class="navbar-nav mr-auto">
		      <li class="nav-item active">
		        <a class="nav-link" href="{% url 'main_index' %}">Home<span class="sr-only">(current)</span></a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="{% url 'main_sandbox' %}">Sandbox</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="https://github.com/keyvank/pooljs#pooljs">Docs</a>
		      </li>
					<li class="nav-item">
		        <a class="nav-link" href="{% url 'main_sandbox' %}">Featured</a>
		      </li>
		    </ul>
		  </div>
		</nav>

		{% block body %} {% endblock %}

		<div class="text-center m-2">Copyright (C) 2017 - Keyvan M. Kambakhsh</div>

		<script src="{% static 'js/processor.js' %}"></script>
		<script src="{% static 'js/pool.js' %}"></script>
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
		<script>
			$(document).ready(function(){
				var numWorkers = 0;
				var numJobs = 0;
				function info(){
					pool.oninfo = function(workersCount,jobsCount){
						numWorkers = workersCount;
						numJobs = jobsCount;
						$("#num-workers").text(numWorkers);
						$("#num-jobs").text(numJobs);
					}
					pool.info();
					setTimeout(info,5000);
				}
				pool.onopen = function(){info();}
			});
		</script>
		{% block scripts %} {% endblock %}
		<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha256-gL1ibrbVcRIHKlCO5OXOPC/lZz/gpdApgQAzskqqXp8=" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.2/codemirror.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.2/mode/javascript/javascript.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.2/mode/xml/xml.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.2/mode/htmlmixed/htmlmixed.min.js"></script>
		<script>
		  var editor = CodeMirror.fromTextArea(document.getElementById("header-editor"), {
		    lineNumbers: true,
				mode: "javascript",
				theme: "base16-dark"
		  });
			var editor2 = CodeMirror.fromTextArea(document.getElementById("put-script"), {
				mode: "htmlmixed",
				readOnly: true,
				theme: "base16-dark",
				scrollbarStyle: "null"
		  });
			editor2.setSize("100%","54px");
		</script>
	</body>
</html>
