<!DOCTYPE html>

{% load staticfiles %}

<html>
	<head>
		<title>Raisin Commander</title>
		<meta charset="utf-8"/>
		<script src="{% static 'js/commander.js' %}"></script>
		<script>
			commander.onresult = function(result){
				document.getElementById("log").innerHTML += "New result: " + result + "\n<br>\n";
			}
			function sendJobs(){
					commander.run(function(arg1,arg2){
						return arg1+arg2;
					},[36,64]);
					commander.for(0,5,function(i){
						return i*i;
					});
					commander.forEach([[1,2],[2,3],[3,4],[4,5],[5,6]],function(a,b){
						return a*b;
					});
			}
		</script>
	</head>
	<body>
		<button onclick="sendJobs();">Send jobs!</button>
		<div id="log">
		</div>
	</body>
</html>
