{% extends "base.html" %}

{% load staticfiles %}

{% block scripts %}
	{{ block.super }}
	<script src="{% static 'js/raytracer.js' %}"></script>
	<script>
		$(document).ready(function(){
			pool.onlimit = function(remaining){
				alert("You have reached your limit! " + (remaining/1000) + " seconds reamining...");
			}
			var ctx = document.getElementById("frame").getContext("2d");
			var partsWidth = 8, partsHeight = 8;
			var width = 360, height = 270;
			function drawRegion(x,y,data){
				var h=data.length;
				var w=data[0].length;
				var imgdata = ctx.getImageData(x,y, w, h);
				for(var i=0;i<h;i++){
					for(var j=0;j<w;j++){
						var ind = i*w +j;
						imgdata.data[ind*4]=data[i][j][0];
						imgdata.data[ind*4+1]=data[i][j][1];
						imgdata.data[ind*4+2]=data[i][j][2];
						imgdata.data[ind*4+3]=255;
					}
				}
				ctx.putImageData(imgdata,x,y);
			}


			$("#rayTracer-btn").click(function(){
				ctx.clearRect(0, 0, width, height);
				pool.setBufferSize(1);
				pool.rayTracer(width,height,partsWidth,partsHeight,drawRegion,true);
			});
			$("#rayTracer-btn-single").click(function(){
				ctx.clearRect(0, 0, width, height);
				pool.rayTracer(width,height,partsWidth,partsHeight,drawRegion,false);
			});

			$("#custom-code-btn").click(function(){
				$('#custom-code-result').empty();
				var code = "var console = {log: function(str){$('#custom-code-result').append(str+' ');}}\n"+editor.getValue();
				eval(code);
			});
			var editor = CodeMirror.fromTextArea(document.getElementById("header-editor"), {
		    lineNumbers: true,
				mode: "javascript",
				theme: "base16-dark"
		  });
			var editor2 = CodeMirror.fromTextArea(document.getElementById("put-script"), {
				mode: "htmlmixed",
				readOnly: true,
				theme: "base16-dark",
				scrollbarStyle: "null"
		  });
			editor2.setSize("100%","54px");
		});
	</script>
{% endblock %}


{% block body %}
	{{ block.super }}
	<div class="container-fluid" style="padding-bottom:15vh;">
		<div class="row">
			<div class="offset-md-1 col-md-4" style="margin-top:30vh;">
				<img style="width:40%; margin-left:auto; margin-right:auto;display:block;" src="{% static 'img/logo.svg' %}" alt="Pool.js"/>
				<h1 class="display-4 text-center">Pool.js</h1>
				<h2 class="display-5 text-center">Browser computing unleashed!</h2>
				<div class="text-center">Processors available: <span id="num-workers">0</span></div>
				<div class="text-center">Jobs count: <span id="num-jobs">0</span></div>
			</div>
			<div class="offset-md-1 col-md-5" style="margin-top:25vh;font-size:18px;">
				<textarea id="header-editor" style="height:auto;">pool.for(0,10,function(i){
  return i*i;
}).result(function(result){
  console.log(result);
});</textarea>
				<div id="custom-code-result" class="p-2" style="background:black;color:white;height:80px;font-size:20px;overflow-y:auto"></div>
				<button id="custom-code-btn" class="btn btn-danger" style="margin:10px;">Run!</button>
			</div>
		</div>
	</div>
	<div class="container-fluid" style="padding-bottom:5vh;padding-top:5vh;background-color:black;">
		<div class="row">
			<div class="col-md-5" style="text-align:center;color:#DDD">
				<h2 style="text-align:center;color:white;">Photorealistic 3D Rendering</h2>
				<canvas id="frame" width="360" height="270" style="border:1px solid #000000;margin-left:auto;margin-right:auto;display:block;width:90%;background-color:#111;" class="mt-4 mb-1">
				</canvas>
				<p class="mb2"><a href="http://www.kevinbeason.com/smallpt/">smallpt</a> and its <a href="http://blog.ivank.net/smallpt-in-javascript.html">JS implementation</a> on pool.js</p>
				<button id="rayTracer-btn-single" class="btn btn-primary m-1">Run on a single browser!</button>
				<button id="rayTracer-btn" class="btn btn-primary m-1">Run on the pool!</button>
			</div>
			<div class="offset-md-1 col-md-6 m-4">
				<h2 style="color:white;">How <i>Distributed Browser Computing</i> can change the world?</h2>
				<p>There are tons of algorithms which can be distributed between many computers and run enormously faster!</p>
				<p>Using the power of web and browsers, we can bring supercomputing to the public!</p>
				<p>Pool.js can help us:</p>
				<ul>
					<li>Do 3D rendering</li>
					<li>Crack passwords</li>
					<li>Recognite faces and fingerprints</li>
					<li>Store data</li>
					<li>Predict weather</li>
					<li>Find DNA sequences</li>
					<li>Simulate the world and our mind</li>
					<li>Look for the answer to life the universe and everything!</li>
					<li>And much more ...!</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="container-fluid" style="padding-top:30vh;padding-bottom:40vh;">
		<div class="row">
			<div class="col-md-12">
				<h2 style="text-align:center;">So let's make the world a better place to live!</h2>
				<h3 style="text-align:center;">Put this script in your website!</h3>
				<div style="font-size:28px;text-align:center;overflow:hidden;max-width:90%;margin:0 auto;">
					<textarea id="put-script" style="height:auto;">&lt;script src="https://pooljs.ir/static/js/processor.js"&gt;&lt;/script&gt;</textarea>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
