{% extends "base.html" %}

{% load staticfiles %}

{% block scripts %}
	<script>
		$(document).ready(function(){
			pool.onlimit = function(remaining,count,limitCount){
				alert("You have requested " + count + " out of " + limitCount + " SubProcesses.\nDecrease number of your SubProcesses or wait to reset.\n" + Math.ceil(remaining/1000) + " seconds to reset...");
			}
			pool.onbusy = function(){
				alert("Server is busy! Try again later!");
			}
			$("#custom-code-btn").click(function(){
				$('#custom-code-result').empty();
				var code = "var console = {log: function(str){$('#custom-code-result').append(str+' ');}}\n"+editor.getValue();
				eval(code);
			});
			var editor = CodeMirror.fromTextArea(document.getElementById("header-editor"), {
		    lineNumbers: true,
				mode: "javascript",
				theme: "base16-dark"
		  });
			editor.setSize("100%","50vh");
			$("#header").addClass('fullheight');
		});
	</script>
{% endblock %}


{% block body %}
	{{ block.super }}
	<div class="container zindex-9">
		<div class="row">
			<div  id="code-editor" class="margintop-15vh">
				<textarea id="header-editor" style="height:auto;">pool.for(0,10,function(i){
  return i*i;
}).result(function(result){
  console.log(result);
});</textarea>
				<div id="result-code-editor">
						<div id="custom-code-result" class="p-2"></div>
						<button id="custom-code-btn">Run!</button>
					</div>
			</div>
		</div>
	</div>
{% endblock %}
{% block footer %}{% endblock %}
